<launch>
    <!-- String1-->
    <arg name = "inputString" default = "0" />
    
     <!-- String2-->
    <arg name = "outputString" default = "0" />

    <!-- Starts talker node-->
    <node pkg = "beginner_tutorials" type = "talker" name = "UpdateString_server" output = "screen" />

    <!-- Starts listener node-->
    <node pkg = "beginner_tutorials" type = "listener" name = "UpdateString_client" output = "screen" args = "$(arg a) $(arg b)"/>

</launch>
